body {
    margin: 0;
}

/* HEADER */

header {
    width: 100%;
    height: 667px;
    background-image: url("../assets/images/header.svg");
}

.logo {
    position: relative;
    top: 51px;
    left: 69px;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #FFD15B;
    text-align: center;
    margin-top: 200px;
}

.backgroundImg {
    width: 1440px;
    height: 667px;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 900px;
    height: 72px;
    border-radius: 10px;
    border: transparent;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 35px;
}

#lancer-recherche {
    background-color: #1B1B1B;
    border: transparent;
    border-radius: 10px;
    width: 55px;
    margin: 10px;
    position: relative;
    right: 78px;
}

#lancer-recherche i {
    color: white;
    font-size: 24px;
    width: 30px;
    height: 30px;
    padding: 12px 12px 12px 7px;
}

#lancer-recherche:hover {
    background-color: #FFD15B;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

#lancer-recherche i:hover {
    color: black;
}

.search-bar .reset {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: gray;
    position: relative;
    right: 100px;
    display: none;
}

/* MAIN */

main {
    background-color: lightgrey;
    padding: 0 104px;
}

/* SECTION RECHERCHE */

#search-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filtres {
    display: flex;
    align-items: flex-start;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    gap: 50px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 21px;
}

.appareils,
.ustensiles,
.ingredients {
    display: flex;
    flex-direction: column;

}

.btnFiltreIngredients,
.btnFiltreIngredientsOpen,
.btnFiltreAppareils,
.btnFiltreAppareilsOpen,
.btnFiltreUstensiles,
.btnFiltreUstensilesOpen {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border: transparent;
    width: 168px;
    max-height: 215px;
    flex-wrap: wrap;
    padding: 5px;
    text-overflow: clip;
    overflow: hidden;
}

.btnFiltreIngredientsOpen,
.btnFiltreAppareilsOpen,
.btnFiltreUstensilesOpen {
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.btnFiltreIngredients p,
.btnFiltreAppareils p,
.btnFiltreUstensiles p {
    font-size: 16px;
    color: black;
    padding-left: 5px;
}

.fa-solid.fa-chevron-up {
    position: relative;
    right: 10px;
}

.fa-solid.fa-chevron-down {
    position: relative;
    right: 10px;
}

.form-select {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 36px;
    margin-bottom: 10px;
    background-color: white;
    padding-left: 5px;
}

.form-select i {
    border: none;
    color: grey;
    background-color: transparent;
    margin-right: 10px;
    position: relative;
    right: 50px;
}

.form-select input,
.form-select {
    border: none;
    background-color: transparent;
    color: grey;
}

.form-select input {
    width: 150px;
    height: 36px;
    border: 2px solid #C6C6C6;
}

.listeIngredients,
.listeAppareils,
.listeUstensiles {
    width: 100%;
    height: 120px;
}

.listeIngredients:hover,
.listeAppareils:hover,
.listeUstensiles:hover {
    overflow-y: scroll;
}

.listeIngredients li,
.listeAppareils li,
.listeUstensiles li {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.listeIngredients li:hover,
.listeAppareils li:hover,
.listeUstensiles li:hover {
    background-color: #FFD15B;
}

ul {
    margin-top: 5px;
    padding-left: 5px;
    width: 168px;
}

.tagsSectionIngredients,
.tagsSectionAppareils,
.tagsSectionUstensiles {
    position: relative;
    right: 5px;
}

.tagsSectionIngredients p,
.tagsSectionAppareils p,
.tagsSectionUstensiles p {
    display: flex;
    align-items: center;
    background-color: #FFD15B;
    width: 178px;
    height: 30px;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    padding-left: 10px;
    margin: 2px 0 2px;
}

/* CARDS */

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cards article {
    width: 320px;
    min-height: 691px;
    background: white;
    border-radius: 21px;
    margin: 50px 0;
    box-shadow: 0px 4px 34px 30px #0000000A;
}

#cards article img {
    width: 100%;
    height: 253px;
    object-fit: cover;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
}

.temps {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 14px;
    padding: 5px 15px;
    bottom: 260px;
    left: 225px;
    background-color: #FFD15B;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.recette {
    position: relative;
    bottom: 50px;
    padding: 0 25px;
}

.recette h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #7A7A7A;
}

.recette h4 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recette h4:hover {
    overflow: visible;
    height: 100%;
}

.liste_ingrédients {
    display: flex;
    flex-wrap: wrap;
}

ul,
li {
    list-style: none;
}

.infos_ingrédients {
    width: 50%;
    padding: 0;
}

.ingrédient {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.mesures {
    display: flex;
}

.quantity,
.unit {
    font-family: 'Manrope', sans-serif;
    color: gray;
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0 0;
}